html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

section {
  display: block;
}

a {
  -webkit-text-decoration-skip: objects;
}

b,
strong {
  font-weight: bolder;
}

button,
input {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

body,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
p {
  margin-bottom: 24px;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1em;
  line-height: 1.75;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  background-color: #fff;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-family: Raleway, serif;
  font-size: 14px;
  line-height: 24px;
  height: 100vh;
  min-height: 100vh;
  max-height: none;
  overflow: visible;
}

@media (min-width: 46.25em) {
  body {
    font-size: 16px;
    line-height: 28px;
  }
}
body.js--nav-is-active {
  max-height: 100vh;
  min-height: 100vh;
}

.o-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  display: block;
  position: relative;
  padding-left: 6px;
  padding-right: 6px;
}

.o-wrapper:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

@media (min-width: 46.25em) {
  aside h4 {
    font-size: 18px;
  }

  .o-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 61.25em) {
  blockquote {
    width: 40%;
  }

  .o-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.o-wrapper--full-w {
  width: 100%;
  min-width: 100%;
}

@media (max-width: 46.24em) {
  h2,
  h2 a {
    font-size: 1.5rem;
    line-height: 1.125;
  }
}
@media (min-width: 46.25em) {
  h2,
  h2 a {
    font-size: 1.75rem;
    line-height: 1.125;
  }
}
@media (max-width: 46.24em) {
  h3,
  h3 a {
    font-size: 1.25rem;
    line-height: 1.125;
  }
}
@media (min-width: 46.25em) {
  h3,
  h3 a {
    font-size: 1.5rem;
    line-height: 1.125;
  }
}
@media (max-width: 46.24em) {
  h4,
  h4 a {
    font-size: 1.125rem;
    line-height: 1.125;
  }
}
@media (min-width: 46.25em) {
  h4,
  h4 a {
    font-size: 1.25rem;
    line-height: 1.125;
  }
}
@media (max-width: 46.24em) {
  h5,
  h5 a {
    font-size: 1rem;
    line-height: 1.125;
  }
}
@media (max-width: 46.24em) {
  h6,
  h6 a {
    font-size: 0.875rem;
    line-height: 1.125;
  }
}
a h2,
a h3,
a h4,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
  display: block;
  background: 0 0;
  color: #f60;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a h2 em,
a h2 i,
a h3 em,
a h3 i,
h2 a em,
h2 a i,
h2 em,
h2 i,
h3 a em,
h3 a i,
h3 em,
h3 i,
h4 a em,
h4 a i,
h4 em,
h4 i {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

a h2,
a h3,
a h4,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
}

a h2:active,
a h2:focus,
a h2:hover,
a h3:active,
a h3:focus,
a h3:hover,
a h4:active,
a h4:focus,
a h4:hover,
h2 a:active,
h2 a:focus,
h2 a:hover,
h3 a:active,
h3 a:focus,
h3 a:hover,
h4 a:active,
h4 a:focus,
h4 a:hover {
  cursor: pointer;
  color: #c24e00;
}

h2 + p,
h3 + p,
h4 + p {
  margin-top: 1.5rem !important;
}

h2 + h3,
h2 + h4 {
  margin-top: -1.125rem !important;
}

p {
  font-size: 1rem;
  font-family: inherit;
}

b,
strong {
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  position: relative;
}

input {
  background: 0 0;
  border: 0;
  border-bottom: 2px solid #ebe9e8;
  color: #353535;
  font-family: Raleway, serif;
  font-size: 16px;
  line-height: 28px;
  width: 100%;
}

input:active,
input:focus,
input:hover {
  outline: 0;
}

input {
  vertical-align: bottom;
}

a,
li a,
p a,
span a {
  background-color: rgba(235, 233, 232, 0.4);
  color: #f60;
  text-decoration: none;
  padding: 1px 3px;
  margin-left: -3px;
  border-radius: 3px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

a:active,
a:focus,
a:hover,
li a:active,
li a:focus,
li a:hover,
p a:active,
p a:focus,
p a:hover,
span a:active,
span a:focus,
span a:hover {
  background-color: #f60;
  color: #fff !important;
  text-decoration: none;
}

a.ln-img-wrap > img {
  padding: 6px 6px 6px 0;
  border-radius: 6px;
  border: 1px solid #f60;
  margin: 6px 6px 6px 0;
  -webkit-filter: grayscale(1) blur(1px);
  filter: grayscale(1) blur(1px);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

a.ln-img-wrap:hover > img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
}

a:not([href]),
a[name] {
  padding: 0;
  font-size: 0;
  visibility: hidden;
  line-height: 0;
  clip: rect(0, 1px, 1px, 0);
  margin-left: -1px;
  margin-top: -1px;
  border: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.o-layout {
  display: block;
  margin: 0 0 0 -24px;
  padding: 0;
  list-style: none;
  font-size: 0;
  
}

.o-layout__item {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 24px;
  font-size: 1rem;
  
}

.o-box {
  display: block;
  padding: 24px;
}

.o-box:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-box > :last-child {
  margin-bottom: 0;
}

.o-box--small {
  padding: 12px;
  border-radius: 6px;
}

.c-btn {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.c-btn--selector {
  padding: 5px 7px;
  line-height: 1;
  border-radius: 3px;
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  text-align: left;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.c-btn--selector:after {
  height: 10px;
  width: 2px;
  background-color: #f60;
  position: absolute;
  display: inline;
}

.c-btn--selector:last-of-type {
  border-right: 0;
  padding-right: 0;
}

.c-btn--selector.is-checked,
.c-btn--selector.is-checked:focus,
.c-btn--selector.is-checked:hover {
  background-color: #f60;
  color: #fff;
}

.c-btn--selector:hover {
  background-color: rgba(235, 233, 232, 0.45);
}

.c-tiles > div {
  background-color: rgba(116, 116, 116, 0.1);
  padding: 6px;
  border: 1px solid #fff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

@media (min-width: 46.25em) {
  .c-tiles > div {
    padding: 12px;
  }
}
@media (min-width: 61.25em) {
  .c-tiles > div {
    padding: 24px 24px 24px 30px;
  }
}
.c-tiles > div:hover {
  background-color: rgba(255, 102, 0, 0.15);
}

.c-tiles--title,
.c-tiles--year {
  line-height: 1.25;
}

.c-tiles--year i {
  margin-right: 12px;
  color: #f60;
}

.c-tiles--title {
  font-weight: 700;
  margin-bottom: 0.35em;
}

.c-filter {
  position: relative;
  margin: 6px 6px 24px;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px rgba(116, 116, 116, 0.2);
}
.back{
  background-color: rgb(1, 1, 39);
  margin-top: 20px;
}
.back1{
  background-color:  rgb(6, 6, 32);
}
.txt{
  color: #fff;
  font-size: 20px;
}
.card1{
  background-color: #fff;
}
.card{
  background-color:  rgb(1, 1, 39);
  color:white;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
}
.c-filter__header {
  line-height: 3.25;
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.c-filter__list {
  height: auto;
  max-height: none;
  clear: both;
  -webkit-transition-property: max-height, height, opacity, -webkit-box-shadow;
  -webkit-transition-property: max-height, height, box-shadow, opacity;
  transition-property: max-height, height, box-shadow, opacity;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.c-filter__list:after {
  content: " ";
  display: table;
  max-height: 0;
  visibility: hidden;
}

.c-grid {
  padding-top: 6px;
}

.c-grid--sizer,
.c-opus {
  width: 50%;
}

@media (min-width: 61.25em) {
  .c-grid--sizer,
  .c-opus {
    width: 33.3333%;
  }
}
.c-opus {
  background:#fff;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-decoration: none;
}

.c-opus:active,
.c-opus:focus,
.c-opus:hover {
  background: 0 0 !important;
}
.space{
  margin-left: 10px;
}

.c-opus__box {
  display: block;
  position: relative;
  border: 0;
  border-radius: 6px;
  margin: 0 6px 12px;
 
  padding: 12px;
}

.c-opus__box,
.c-opus__box .c-opus__category,
.c-opus__box .c-opus__subtitle,
.c-opus__box .c-opus__title,
.c-opus__box .c-opus__year {
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.c-opus__box h2 + h3 {
  margin-top: -0.5rem !important;
}

.c-opus__box h2 + p,
.c-opus__box h3 + p {
  margin-top: 0 !important;
}

.c-opus__box:active,
.c-opus__box:focus,
.c-opus__box:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f60;
}

.c-opus__box:active .c-opus__category,
.c-opus__box:active .c-opus__subtitle,
.c-opus__box:active .c-opus__title,
.c-opus__box:active .c-opus__year,
.c-opus__box:active h2,
.c-opus__box:active h3,
.c-opus__box:focus .c-opus__category,
.c-opus__box:focus .c-opus__subtitle,
.c-opus__box:focus .c-opus__title,
.c-opus__box:focus .c-opus__year,
.c-opus__box:focus h2,
.c-opus__box:focus h3,
.c-opus__box:hover .c-opus__category,
.c-opus__box:hover .c-opus__subtitle,
.c-opus__box:hover .c-opus__title,
.c-opus__box:hover .c-opus__year,
.c-opus__box:hover h2,
.c-opus__box:hover h3 {
  color: #fff;
}

.c-opus__title {
  margin: 0 0 0.5rem;
}

.c-opus__subtitle {
  margin: -0.65rem 0 0.5rem !important;
}

.c-opus__category,
.c-opus__year {
  font-size: 13px;
  line-height: 1;
  color: #747474;
}

.c-opus__category {
  text-align: right;
}

.c-opus__category--item {
  display: inline-block;
  margin-bottom: 6px;
  background-color: #ebe9e8;
  border-radius: 3px;
  padding: 3px;
  color: #353535;
}

.c-opus:hover .c-opus__category--item {
  color: #f60;
  background: #fff;
}

.c-opus__subtitle,
.c-opus__title,
.c-opus__year {
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.u-1\/1 {
  width: 100% !important;
  -webkit-box-flex: 0 !important;
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.u-1\/2 {
  width: 50% !important;
  -webkit-box-flex: 0 !important;
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.u-1\/3 {
  width: 33.33333% !important;
  -webkit-box-flex: 0 !important;
  flex: 0 0 33.33333% !important;
  max-width: 33.33333% !important;
}

.u-2\/3 {
  width: 66.66667% !important;
  -webkit-box-flex: 0 !important;
  flex: 0 0 66.66667% !important;
  max-width: 66.66667% !important;
}

.u-1\/4 {
  width: 25% !important;
  -webkit-box-flex: 0 !important;
  flex: 0 0 25% !important;
  max-width: 25% !important;
}

.u-2\/4 {
  width: 50% !important;
  -webkit-box-flex: 0 !important;
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.u-3\/4 {
  width: 75% !important;
  -webkit-box-flex: 0 !important;
  flex: 0 0 75% !important;
  max-width: 75% !important;
}

@media (min-width: 30em) {
  .u-1\/1\@mobile {
    width: 100% !important;
  }

  .u-1\/2\@mobile {
    width: 50% !important;
  }

  .u-2\/3\@mobile {
    width: 66.66667% !important;
  }

  .u-1\/4\@mobile {
    width: 25% !important;
  }

  .u-2\/4\@mobile {
    width: 50% !important;
  }

  .u-3\/4\@mobile {
    width: 75% !important;
  }
}
@media (min-width: 46.25em) {
  .u-1\/1\@tablet {
    width: 100% !important;
  }

  .u-1\/2\@tablet {
    width: 50% !important;
  }

  .u-1\/3\@tablet {
    width: 33.33333% !important;
  }

  .u-2\/3\@tablet {
    width: 66.66667% !important;
  }

  .u-1\/4\@tablet {
    width: 25% !important;
  }

  .u-2\/4\@tablet {
    width: 50% !important;
  }

  .u-3\/4\@tablet {
    width: 75% !important;
  }
}
@media (min-width: 30em) {
  .u-1\/1\@mobile {
    -webkit-box-flex: 0 !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .u-1\/2\@mobile {
    -webkit-box-flex: 0 !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .u-1\/3\@mobile {
    -webkit-box-flex: 0 !important;
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
  }

  .u-2\/3\@mobile {
    -webkit-box-flex: 0 !important;
    flex: 0 0 66.66667% !important;
    max-width: 66.66667% !important;
  }

  .u-1\/4\@mobile {
    -webkit-box-flex: 0 !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .u-2\/4\@mobile {
    -webkit-box-flex: 0 !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .u-3\/4\@mobile {
    -webkit-box-flex: 0 !important;
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
}
@media (min-width: 46.25em) {
  .u-1\/1\@tablet {
    -webkit-box-flex: 0 !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .u-1\/2\@tablet {
    -webkit-box-flex: 0 !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .u-1\/3\@tablet {
    -webkit-box-flex: 0 !important;
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
  }

  .u-1\/4\@tablet {
    -webkit-box-flex: 0 !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .u-2\/4\@tablet {
    -webkit-box-flex: 0 !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .u-3\/4\@tablet {
    -webkit-box-flex: 0 !important;
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
}
.u-h1 {
  font-size: 2.25rem;
  line-height: 1.25;
}

.u-h2 {
  font-size: 1.75rem;
  line-height: 1.25;
}

.u-h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

.u-h4 {
  font-size: 1.25rem;
  line-height: 1.25;
}

.u-h2,
.u-h3,
.u-h4 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.5em !important;
}

@media (max-width: 61.24em) {
  .u-collapsed-until\@desktop {
    max-height: 1px !important;
    overflow: hidden !important;
    opacity: 0 !important;
  }

  .u-h3\@tablet {
    font-size: 1.5rem;
    line-height: 1;
  }

  .u-h4\@tablet {
    font-size: 1.25rem;
    line-height: 1;
  }
}
@media (max-width: 46.24em) {
  .u-h4-until\@tablet {
    font-size: 1.25rem;
    line-height: 1;
  }
}
@media (min-width: 61.25em) {
  .u-1\/1\@desktop {
    width: 100% !important;
    -webkit-box-flex: 0 !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .u-1\/2\@desktop {
    width: 50% !important;
    -webkit-box-flex: 0 !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .u-1\/3\@desktop {
    width: 33.33333% !important;
    -webkit-box-flex: 0 !important;
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
  }

  .u-2\/3\@desktop {
    width: 66.66667% !important;
    -webkit-box-flex: 0 !important;
    flex: 0 0 66.66667% !important;
    max-width: 66.66667% !important;
  }

  .u-1\/4\@desktop {
    width: 25% !important;
    -webkit-box-flex: 0 !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .u-2\/4\@desktop {
    width: 50% !important;
    -webkit-box-flex: 0 !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .u-3\/4\@desktop {
    width: 75% !important;
    -webkit-box-flex: 0 !important;
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
}
.u-padding-none {
  padding: 0 !important;
}

.u-margin-bottom-small {
  margin-bottom: 12px !important;
}

.u-box-shadow {
  box-shadow: 0 0 4px 1px rgba(51, 51, 51, 0.35) !important;
  
}

.u-txt--c {
  text-align: center !important;
}

.thm_main--normal {
  background-color: #fff;
  color: #000;
  border: 1px solid transparent;
}

.thm_main--normal .thm-header,
.thm_main--normal a:hover {
  color: #353535;
}

.thm_main--normal .thm-header:active,
.thm_main--normal .thm-header:focus,
.thm_main--normal .thm-header:hover {
  color: #161616;
}

.thm_main--normal h2,
.thm_main--normal h3,
.thm_main--normal h4 {
  background: 0 0;
  text-decoration: none;
  -webkit-transition: color 0.15s, background 0.15s;
  transition: color 0.15s, background 0.15s;
}